* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: PoppinsRegular;
}

@font-face {
    font-family: "PoppinsRegular";
    src: url("./assets/font/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}


@font-face {
    font-family: "RobotoRegular";
    src: url("./assets/font/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #1E252B;
}

.container {
    margin: 0 auto;
    max-width: 1220px;
    width: 100%;
}

/* ----------------------Navbar---------------------------- */

.navbar {
    font-family: PoppinsRegular;
    padding: 30px 0;
}

.navbar li {
    list-style-type: none;
    font-weight: 500;
}

.navbar a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.55);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.navbar-logo span {
    font-size: 22px;
    font-weight: 600;
    color:white;
    margin-left: 12px;
}

.navbar-items ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item {
    margin-right: 50px;
}

.navbar-item:nth-child(2) a::after {
    content: url('./assets/img/arrow.png');
    padding-left: 10px;
}

.navbar-login {
    display:flex;
    align-items: center;
    justify-content: center;
}

.navbar-login button{
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    padding: 12px 28px;
    border: none;
}

.btn1 {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.78);
    cursor: pointer;
}

.btn2 {
    background: #FF6E30;
    border-radius: 8px;
    color: #FDF5FF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* ----------------------Header---------------------------- */

.header {
    background: url("./assets/img/header-bg.png") no-repeat right ;
    background-size: auto 100%;
    margin-bottom: 200px;
}

.header-content {
    width: 50%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.header-content-info h1 {
    color: #FFFFFFE5;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    margin-bottom: 30px;
}

.header-content-info span {
    color: #FF6E30;
}

.header-content-info p {
    width: 480px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #FFFFFF8C;
    margin-bottom: 60px;
}

.header-content-search {
    display: flex;
    align-items: center;
    margin-bottom: 110px;
    max-width: 500px;
    padding: 11px 8px;
    background: #283036;
    border-radius: 15px;
}



.header-content-search img {
    margin-right: 16px;
}

.header-content-search input {
    margin-right: 16px;
}

.header-content-search button {
    height: 48px;
    border: none;
    padding: 12px 36px;

}


.social-links {
    display: flex;
    align-items: center;
}

.social-links li {
    list-style-type: none;
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.social-link {
    text-decoration: none;
}

.social-link img{
    background: transparent;
}


.section-1 {

}

.section-1-text {
    text-align: center;
    margin-bottom: 110px;
}

.section-1-title {
    font-size: 48px;
    color: #FFFFFFE5;
    margin-bottom: 25px;
}

.section-1-subtitle {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF8C;

}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    padding: 33px;
    border-radius: 15px;
    color: #FFFFFFC7;
}

.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.card-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    width: 65px;
    height: 65px;
}

.card-name {
    font-size: 24px;
}

.card-pay {
    color: #FFA5378C;
}

.card-description {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color:#FFFFFF8C;
}

.card-reaction, .card-reaction > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-like, .card-folder {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 8px;
}

.card-like:hover, .card-folder:hover, .card-visit:hover {
    background: #283036;
    box-shadow: 0px 5px 10px -3px rgba(18, 18, 18, 0.15);
    transition: 0.2s ease-in-out;

}


.card-visit {
    background-color: transparent;
    font-size: 16px;
    color: #FFFFFF8C;
    cursor: pointer;
    padding: 9px 35px;
    border: 0;
    border-radius: 8px;
}

