* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	background-color: black;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: white;
    font-weight: 400;
}

.container {
	max-width: 1232px;
    width: 100%;
    margin: 0 auto;
}

/* Header */

.header_inner {
    margin-top: 56px;
    display: flex;
    justify-content: space-between;
}

/* Nav */

.nav_mid, .nav_right {
    font-size: 12px;
}

.nav_link_mid, .nav_link_right {
    text-decoration: none;
    margin: 0 10px;
    transition: font-size 0.1s linear;
    position: relative;
}

.nav_link_mid {
    color: white;
}

.nav_link_mid:after {
    background-color: white;
}

.nav_link_right:after {
    background-color: #808080;
}

.nav_link_mid:after, .nav_link_right:after {
    content: "";
    display: block;
    height: 2px;
    top: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    width: 100%;
    border-radius: 4px;
    transition: opacity 0.1s linear;
}

.nav_link_mid:hover {
    font-size: 15px;
}

.nav_link_mid:hover:after, .nav_link_right:hover:after {
    opacity: 1;
}


.nav_link_right {
    color: #808080;
}

/* First Block */

.block_1_content {
    margin-top: 124px;
    text-align: center;
}

.picture_earth {
    margin-top: 32px;
    display: flex;
    justify-content: center;
}

.title_main {
    font-size: 64px;
    line-height: 76px;
}

.subtitle_main {
    height: 44px;
    width: 286px;
    margin-top: 26px;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
}

.line {
    border-style: solid;
    border-color: white;
    margin-top: 26px;
    border-width: thin;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
    height: 59px;
}

/* Second Block */

.block_2_content_2, .block_2_content_1 {
    margin-left: 44px;
}

.title_1, .title_2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-transform: uppercase;
}

.title_1 {
    margin-top: 492px;
}

.title_2 {
    margin-top: 210px;
}

.subtitle_1, .subtitle_2 {
    margin-top: 44px;
}

.subtitle_2 {
    font-size: 16px;
    line-height: 32px;
    display: flex;
    height: 195px;
    width: 490px;
}

.subtitle_2_left {
    margin-right: 132px;
    text-transform: uppercase;
}

.gray {
    color: #B2B0B2;
}

.picture_rocket {
    text-align: right;
}

.block_2_inner {
    display: flex;
    justify-content: space-between;
}

/* Footer */

.footer_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav_link_footer {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0 10px;
    position: relative;
}

.nav_link_footer:after {
    content: "";
    display: block;
    background-color: white;
    height: 2px;
    top: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    opacity: 0;
    width: 100%;
    border-radius: 4px;
    transition: opacity 0.1s linear;
}

.nav_link_footer:hover:after {
    opacity: 1;
}

.email {
    color: #808080;
    font-size: 18px;
}

.button_footer {
    padding: 20px 85px;
    color: white;
    background-color: black;
    border-radius: 6px;
    border: 2px solid white;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear;
}

.button_footer:hover {
    background-color: white;
    color: black;
}


.email {
    margin-top: 44px;
}

.info {
    margin-top: 28px;
}

.button {
    margin-top: 32px;
}

.footer_inner {
    margin-top: 192px;
    margin-bottom: 130px;
}